<h1>About</h1>
<p>
	<%= link_to "Subtastik", "http://www.findmysub.com" %>
	is a site that helps connect teachers to high quality, reliable subs.  This app is in alpha stage but feel free to sign up to be one of our free beta testers!
</p>