<% if user_signed_in? %>
	<h1 class="text-center">You're logged in.  Next?</h1>
<% else %>
	<div class="hero-unit">
		<h1 class="text-center">Welcome to Find My Sub</h1>
		<p class="text-center">You found the home page for the
			<%= link_to "FindMySub","http://www.findmysub.com"%>
			application.
		</p>
		<p class="text-center">
			<%= link_to "Sign up now!", new_user_registration_path, class:"#btn btn-primary btn-large" %>
		</p>
	</div>
<% end %>