<div class="footer">
	<p class="text-center">
	<small>
		<%= link_to "Subtastik","http://www.findmysub.com"%>
		by <%= link_to "Ethan Castro","http://www.linkedin.com/profile/view?id=11551879&trk=hb_tab_pro_top"%>
	</small>
	</p>
</div>